body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529; 
    padding: 20px;
}

.calculator {
    background-color: #2b3035; 
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 380px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calculator-screen {
    width: 330px;
    height: 140px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 10px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.previous-calculation {
    text-align: right;
    color: #808080;
    font-size: 1.1em;
    white-space: nowrap;
    overflow-x: auto;
    min-height: 1.1em;
}

.current-equation {
    text-align: right;
    color: #a0a0a0;
    font-size: 1.5em;
    white-space: nowrap;
    overflow-x: auto;
    min-height: 1.5em;
}

.calculator-display {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 3.5em;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    outline: none;
}

.button.function#secondBtn.active {
    background-color: #ff9100;
    color: #ffffff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); 
}

.calculator-buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.5px;
}

.button {
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    filter: brightness(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button.number,
.button.constant {
    background-color: #404040;
    color: #ffffff;
}

.button.operator, .button.equals {
    background-color: #ff9100;
    color: #ffffff;
}

.button.equals {
    width: 145px;
    grid-column: span 2;
}

.button.zero {
    grid-column: span 2;
    border-radius: 30px;
    width: auto;
}

.button.function, .button.special-function {
    background-color: #404040;
    color: #a0a0a0;
    font-size: 1.1em;
}

.button.clear, .button.backspace {
    background-color: #404040;
    color: #ffcccc;
}

.button.backspace .backspace-icon {
    transform: translateX(-2px);
}